<h1>All Reciepes</h1>
<hr>

<% @reciepes.each do |reciepe| %>
  <div class="row">
    <div class="col-md-2">
      <section class="chef-info center">
        <%= gravatar_for(reciepe.chef, size: 100) %>
        <h5>Chef name: <%= reciepe.chef.chefname %></h5>
      </section>
    </div>

    <div class="col-md-8 well">
      <h4><%= link_to reciepe.name, reciepe_path(reciepe) %></h4>
      <p><%= reciepe.summary %></p>
      <p>
        <span class="quiet">
          <small><%= time_ago_in_words(reciepe.created_at) %></small>
        </span>
      </p>
    </div>
  </div>

  <hr>
<% end %>
