<%= render "shared/pagetitle", title: "Chef: " + @chef.chefname %>

<div class="container">
  <div class="row">
    <div class="col-md-12 center">
      <%= gravatar_for(@chef, size: 200) %>
      <hr>
    </div>
  </div>
</div>

<div class="container center">
  <div class="row center">
    <h3><em><%= @chef.chefname %> recipes</em></h3>
    <%= will_paginate @recipes %>
  </div>
</div>

<% @recipes.each do |recipe| %>
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 well">
        <h4><%= link_to recipe.name, recipe_path(recipe) %></h4>
        <p><%= recipe.summary %></p>

        <div class="pull-right">
          <%= link_to like_recipe_path(recipe, thumbs: true), method: :post, class: "btn btn-primary" do %>
            <i class="glyphicon glyphicon-thumbs-up"></i>&nbsp; <%= recipe.total_like %>
          <% end %>&nbsp;&nbsp;&nbsp;&nbsp;
          <%= link_to like_recipe_path(recipe, thumbs: false), method: :post, class: "btn btn-danger" do %>
            <i class="glyphicon glyphicon-thumbs-down"></i>&nbsp; <%= recipe.total_dislike %>
          <% end %>
        </div>

        <p>
          <span class="quiet">
            <small>Created: <%= time_ago_in_words(recipe.created_at) %> ago |</small>
            <small>Updated: <%= time_ago_in_words(recipe.updated_at) %> ago</small>
          </span>
        </p>
      </div>
    </div>
  </div>

  <hr>
<% end %>

<div class="container center">
  <div class="row center">
    <%= will_paginate @recipes %>
  </div>
</div>
