<%= render "shared/pagetitle", title: "Login" %>

<%= render "shared/errors", object: @recipe %>

<div class="row">
  <div class="container">
    <div class="col-md-6 col-md-offset-3">
      <div class="well">
        <%= form_tag login_path do %>
          <%= label_tag :email %>
          <%= email_field_tag :email %>

          <%= label_tag :password %>
          <%= password_field_tag :password %>

          <%= submit_tag "Login", class: "btn btn-success" %>

        <% end %>
      </div>
      <h2>Dont have an account? Please <%= link_to "Signup", register_path, class: "btn btn-primary" %></h2>
    </div>
  </div>
</div>
