<%= render "shared/pagetitle", title: "All Recipes" %>

<ul class="nav nav-tabs">
  <li class="active">
    <%= link_to "Recipes", recipes_path %>
  </li>
  <li>
    <%= link_to "Chefs", chefs_path %>
  </li>
</ul>

<div class="container">
  <div class="row">
    <%= will_paginate %>
  </div>
</div>

<% @recipes.each do |recipe| %>
  <div class="container result-list">
    <div class="row">
      <div class="col-md-2">
        <section class="chef-info center">
          <%= link_to gravatar_for(recipe.chef, size: 100), chef_path(recipe.chef) %>
          <h5>Chef name: <%= recipe.chef.chefname %></h5>
        </section>
      </div>

      <div class="col-md-7 well">
        <h4><%= link_to recipe.name, recipe_path(recipe) %></h4>
        <p><%= recipe.summary %></p>

        <% if recipe.styles.any? %>
          <p>Styles: <%= render recipe.styles %></p>
        <% end %>

        <% if recipe.ingredients.any? %>
          <p>Ingredients: <%= render recipe.ingredients %></p>
        <% end %>

        <div class="pull-right">
          <%= link_to like_recipe_path(recipe, thumbs: true), method: :post, class: "btn btn-primary" do %>
          <i class="glyphicon glyphicon-thumbs-up"></i>&nbsp; <%= recipe.total_like %>
          <% end %>&nbsp;&nbsp;&nbsp;&nbsp;
          <%= link_to like_recipe_path(recipe, thumbs: false), method: :post, class: "btn btn-danger" do %>
          <i class="glyphicon glyphicon-thumbs-down"></i>&nbsp; <%= recipe.total_dislike %>
          <% end %>
        </div>

        <p>
          <span class="quiet">
            <small>Created: <%= time_ago_in_words(recipe.created_at) %> ago |</small>
            <small>Updated: <%= time_ago_in_words(recipe.updated_at) %> ago</small>
          </span>
        </p>
      </div>

      <div class="col-sm-3">
        <%= image_tag(recipe.picture.url, size: "250", class: "gravatar") if recipe.picture? %>
      </div>
    </div>

  </div>
  <hr>
<% end %>

<div class="container">
  <div class="row">
    <%= will_paginate %>
  </div>
</div>
