<!-- navigation -->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <%= link_to "recipeshare", root_path, class: "btn btn-success", id: "logo" %>
    <div class="nav-item">
      <%= link_to "link 1", "#", class: "btn btn-default btn-warning" %>
    </div>
    <div class="nav-item">
      <%= link_to "link 2", "#", class: "btn btn-default btn-warning" %>
    </div>
    <% if logged_in? %>
      <div class="nav-item">
        <%= link_to "New Recipe", new_recipe_path, class: "btn btn-default btn-primary" %>
      </div>
      <div class="nav-item">
        <%= link_to "Logout", logout_path, class: "btn btn-default btn-danger" %>
      </div>
    <% else %>
      <div class="nav-item">
        <%= link_to "Login", login_path, class: "btn btn-default btn-primary" %>
      </div>
    <% end %>
  </div>
</nav>
<!-- end navigation -->
